 <footer id="footer">

    <div class="row">
        {% setcontent contact = "contact/1" %}
        <div class="4u">
            <section>
                <header>
                    <h2>Contact Us</h2>
                </header>
                <div class="row contact-info">
                    <ul>
                        <li><span id="email" class="icon fa-envelope-square"></span>{{ contact.email }}</li>
                        <li><span id="phone" class="icon fa-phone-square"></span>{{ contact.telephone }}</li>
                        <li><span id="address" class="icon fa-map-marker"></span>&nbsp;&nbsp;{{ contact.address }}</li>
                    </ul>
                </div>
            <br/>
            <ul class="icons social-media-buttons">

                <li><a href="https://twitter.com/Y_F_R_" class="icon circle fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>

                <li><a href="https://www.facebook.com/youthforrestoration" class="icon circle fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>

                <li><a href="https://plus.google.com/u/0/100370803337341607082/posts" class="icon circle fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
            </ul>
            </section>
        </div>

        {% setcontent r1 = "projects/latest/3" orderby '-datepublish'  %}
        {% setcontent r2 = "blog/latest/3" orderby '-datepublish'  %}
        {% setcontent r3 = "news/latest/3" orderby '-datepublish'  %}
        {% set records = r1|merge(r2)|merge(r3)|order('-datepublish')|slice(0,3) %}

        <div class="4u latest-entries">
            <section>
                <header>
                    <h2>Latest Entries</h2>
                </header>
                <div class="row">
                    {% for record in records %}
                        <a href="{{record.link}}">
                           <h4> [ {{ record.datepublish | date("m/d") }} ] &nbsp; {{ record.title }}</h4>
                           <p>{{ record.excerpt(100) }}</p>
                        </a>
                    {% endfor %}
                </div>
            </section>
        </div>

        <div class="4u">
            <section>
                <header>
                    <h2>Social Media</h2>
                </header>
                <div class="social-media-panel">
                    <ul>
                        <!--<li><img src="{{ paths.theme }}images/tweeter-widget.png" width="80%"></li>-->
                        {# <li><br/></li> #}
                        <li>
                            <div class="fb-page" data-href="https://www.facebook.com/youthforrestoration" data-width="300" data-height="250" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/youthforrestoration"><a href="https://www.facebook.com/youthforrestoration">Youth for Restoration</a></blockquote></div></div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <div class="copyright">
        Copyright &copy; {{ "now"|date('Y', timezone="America/New_York") }} by {{ app.config.get('general/sitename') }}. All rights reserved.
    </div>
</footer>
