<!DOCTYPE HTML>
<!--
    Twenty by HTML5 UP
    html5up.net | @n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    {% block head -%}
        <title>
            {%- block title -%}
                {%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
                    {{ app.config.get('general/sitename') }}
                    {%- if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif -%}
                    {%- endblock title -%}
                </title>
                <meta http-equiv="content-type" content="text/html; charset=utf-8" />
                <meta name="description" content="{{ record.metadescription }}" />
                <meta name="keywords" content="Youth for Restoration, yfr, restoration, hudson valley, mid hudson valley, historic buildings, building restoration, historic buildings restoration" />
                <script>
                    var paths = {
                        theme : '{{ paths.theme }}'
                    };
                </script>

                {%- block scripts %}

                    <!--[if lte IE 8]><script src="{{ paths.theme }}css/ie/html5shiv.js"></script><![endif]-->
                    <script src="{{ paths.theme }}js/jquery.min.js"></script>
                    <script src="{{ paths.theme }}js/jquery.dropotron.min.js"></script>
                    <script src="{{ paths.theme }}js/jquery.scrolly.min.js"></script>
                    <script src="{{ paths.theme }}js/jquery.scrollgress.min.js"></script>
                    <script src="{{ paths.theme }}js/skel.min.js"></script>
                    <script src="{{ paths.theme }}js/skel-layers.min.js"></script>
                    <script src="{{ paths.theme }}js/init.js"></script>
                    <script src="{{ paths.theme }}js/lightbox.min.js"></script>

                {% endblock scripts %}

                {%- block stylesheets %}

                    <noscript>
                        <link rel="stylesheet" href="{{ paths.theme }}css/skel.css" />
                        <link rel="stylesheet" href="{{ paths.theme }}css/style.css" />
                        <link rel="stylesheet" href="{{ paths.theme }}css/style-wide.css" />
                        <link rel="stylesheet" href="{{ paths.theme }}css/style-noscript.css" />
                    </noscript>
                    <!--[if lte IE 8]><link rel="stylesheet" href="{{ paths.theme }}css/ie/v8.css" /><![endif]-->
                    <!--[if lte IE 9]><link rel="stylesheet" href="{{ paths.theme }}css/ie/v9.css" /><![endif]-->

                {% endblock stylesheets %}

            {%- endblock head %}

        </head>
        <body class="{% block bodyclass %}{% endblock %}">
            {# facebook app #}
            <script>
              window.fbAsyncInit = function() {
                FB.init({
                  appId      : '1643953349166751',
                  xfbml      : true,
                  version    : 'v2.3'
              });
            };

            (function(d, s, id){
               var js, fjs = d.getElementsByTagName(s)[0];
               if (d.getElementById(id)) {return;}
               js = d.createElement(s); js.id = id;
               js.src = "//connect.facebook.net/en_US/sdk.js";
               fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1643953349166751";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      {% block header %}
        <header id="header" class="{% block headerclass %}{% endblock %}">
            <div class="logo">
                <a href="{{ paths.root }}" class="no-underline">
                    <img id='yfr-logo' src="{{ app.paths.app }}view/img/logo.png" width="115" alt="Love our community and cookies? Come and join us!">
                </a>
            </div>
            <nav id="nav">
                <ul>
                    {{ menu('main', '_menu.twig') }}
                </ul>
            </nav>
            <nav>

                <ul>
                    <li>
                        <div class="search-wrap">
                            <form method="get" action="{{ paths.root }}search" id="searchform" enctype="text/plain" role="search">
                                <input id="search" name="q" type="text" placeholder="What are we looking for?">
                                <input id="search_submit" value="" type="submit"><span class="icon fa-search"></span>
                           </form>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        {% endblock header %}

        {% block banner %}
        {% endblock banner %}

        {% block main %}
        {% endblock main %}

        {% block cta %}
        {% endblock cta %}

        {% block footer %}
            {% include('_footer.twig') %}
        {% endblock footer %}

    </body>
    </html>
