{% extends 'master.twig' %}

{% block bodyclass %}
    no-sidebar
{% endblock bodyclass %}

{% block main %}
    <article id="main">
        <section class="wrapper style4 container">
            <header class="special">
                <h2>{{ record.title }}</h2>
            </header>
            {% if record.image is not empty %}
                <a href="{{ image(record.image) }}" class="image featured main-image" data-lightbox="projects" data-title="{{ record.title }}">
                    <img src="{{ image(record.image) }}" alt="{{ record.title }}" title="{{ record.title }}">
                </a>
            {% endif %}
            <div class="content">
                <section>
                    {{ record.body }}
                </section>

                {% if record.imagelist %}
                    <section>
                        <br/>
                        <header class="special container">
                            <h2>Gallery</h2>
                        </header>
                        <div>

                            {% set list = record.imagelist %}
                                {% for item in list %}
                                    {# this filter removes the folders, evetual bolt tag numbers and file extension giving the title text #}
                                    {% set filteredTitle =  item.title | preg_replace('#(.*\/)(\d*_*)#', '') | title | replace({'-':' ', '_':' ', '.jpg': ' '}) | preg_replace('#\\d+#', '') %}
                                    <a href="{{ image(item.filename) }}" data-lightbox="projects-gallery" data-title="{{ filteredTitle }}">
                                        <img src="{{ thumbnail(item.filename, 100,100) }}" alt="{{ item.title }}" title="{{ item.title }}">
                                    </a>
                                {% endfor %}
                            </div>
                        </section>
                    {% endif %}
                    {% if record.file is not empty %}
                        <footer>
                            <div class="6u -3u">
                                <br/><br/>
                                <ul class="buttons vertical">
                                    <li><a href="{{ paths.files }}{{ record.file }}" class="button fit scrolly">Download the Presentation</a></li>
                                </ul>
                            </div>
                        </footer>
                    {% endif %}
                </div>
            </section>
            {% setcontent items = "projects/latest/4" %}
                {% if  items | length > 1 %}
                    <section class="wrapper style1 container special">
                        <header class="special container">
                            <h2>Check out other cool Projects</h2>
                        </header>
                        <div class="row">
                            {% set countpost = 0 %}
                                {% for item in items %}
                                    {% if item.id != record.id and countpost < 3 %}
                                        {% set countpost = countpost + 1 %}
                                            <div class="4u">
                                                <section>
                                                    <header>
                                                        <h3>{{ item.title }}</h3>
                                                    </header>
                                                    {{ item.teaser }}
                                                    <footer>
                                                        <ul class="buttons">
                                                            <li><a href="{{ item.link }}" class="button small">Read More</a></li>
                                                        </ul>
                                                    </footer>
                                                </section>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </section>
                        {% endif %}
                    </article>
                {% endblock main %}
