{% extends 'master.twig' %}

{% block bodyclass %}
    no-sidebar
{% endblock bodyclass %}

{% block main %}
    <article id="main">

        <section class="wrapper style4 container">
            <header class="special">
                <h2>{{ record.title }}</h2>
            </header>
            {% if record.image is not empty %}
                <div class="image featured">
                    <img src="{{ image(record.image) }}" alt="" />
                </div>
            {% endif %}
            <div class="content">
                <section>
                    {{ record.body }}
                </section>

                {% if record.imagelist %}
                    <section>
                        <br/>
                        <header class="special container">
                            <h2>Gallery</h2>
                        </header>
                        <div>

                            {% set list = record.imagelist %}

                            {% for item in list %}
                                <a href="{{ image(item.filename) }}">
                                    <img src="{{ thumbnail(item.filename, 100,100) }}" alt="{{ item.title }}" title="{{ item.title }}">
                                </a>
                            {% endfor %}
                        </div>
                    </section>
                {% endif %}
                {% if record.file is not empty %}
                    <footer>
                        <div class="6u -3u">
                            <br/><br/>
                            <ul class="buttons vertical">
                                <li><a href="{{ paths.files }}{{ record.file }}" class="button fit scrolly">Download the Presentation</a></li>
                            </ul>
                        </div>
                    </footer>
                {% endif %}
            </div>
        </section>

        <section>
            <header class="special container">
                <h2>Check out other cool Projects</h2>
            </header>
            {% include('_row.twig') %}
        </section>

    </article>
{% endblock main %}


