{% extends 'master.twig' %}

{# TODO: fix class #}
{% block bodyclass %}
  index
{% endblock bodyclass %}

{% block main %}

  <div class="image featured">
    <img src="{{ image(record.image) }}"/>
  </div>

  <article id="main">
    <section class="wrapper style1 container special">
      <div class="row">
        <div class="6u -3u">
          <section>
            <p>
              <span class="icon fa-users"></span>
            </p>
            <header>
              <h2>Become part of the team</h2>
            </header>
            {{ record.become_part_team }}
          </section>
        </div>
      </div>
    </section>

    <section class="wrapper style2 container special">
      <div class="row">
        <div class="6u -3u">
          <h2>What can you do</h2>
        </div>
        <div class="4u -1u">
          <span class="icon fa-check"></span>
          <header>
            <h2>Restoration</h2>
          </header>
          <p>
            {{ record.restoration }}
          </p>
        </div>
        <div class="5u -2u">
          <span class="icon fa-check"></span>
          <header>
            <h2>Online YFR</h2>
          </header>
          <p>
            {{ record.online_yfr }}
          </p>
        </div>
      </div>
    </section>

    <section class="wrapper style1 container special">
      <div class="row">
        <div class="6u -3u">
          <section>
            <header>
              <h2>Who may become a volunteer?</h2>
            </header>
            <p>
              {{ record.who_may_become_volunteer }}
            </p>
          </section>
        </div>
      </div>
    </section>

    <section class="wrapper style1 container special">
      <div class="row">
        <div class="6u -3u">
          <section>
            <header>
              <h2>Liked the idea? Join us!</h2>
            </header>
            <p>
              {{ record.send_email }}
            </p>
            <a href="" class="button special">Send us an email</a>
          </section>
        </div>
      </div>
    </section>


  </article>

{% endblock main %}
